
<h1>Welcome</h1>

<table border="0" cellspacing="0" cellpadding="2" >
    <tr>
        <td class="headertdleft">Settings</td>
        <td class="headertdright">&nbsp;</td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Debugging:</td>
        <td class="listtd">{{ settings_debug }}</td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Program version:</td>
        <td class="listtd">{{ settings_version }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">FTP server address:</td>
        <td class="listtd">{{ settings_ftp_hostname }}</td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Admin email address:</td>
        <td class="listtd">{{ settings_admin_email }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Database DSN:</td>
        <td class="listtd">{{ settings_database_dsn }}</td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Password crypt method:</td>
        <td class="listtd">{{ settings_pwcrypt }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Check homedir access:</td>
        <td class="listtd">{{ settings_check_access }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Email user:</td>
        <td class="listtd">{{ settings_notify_user }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Default uid:</td>
        <td class="listtd"> {{ settings_default_uid }} </td>
    </tr>
    <tr>
        <td class="listtdleft" align="right">Default gid:</td>
        <td class="listtd"> {{ settings_default_gid }} </td>
    </tr>
</table>
