<h1>Welcome</h1>

<style>
    th {
        text-align: right;
    }
    td {
        padding-left: 5px;
    }
</style>

<table >
    <tr>
        <th>Settings</th>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Debugging:</th>
        <td>{{ settings_debug }}</td>
    </tr>
    <tr>
        <th>Program version:</th>
        <td>{{ settings_version }} </td>
    </tr>
    <tr>
        <th>FTP server address:</th>
        <td>{{ settings_ftp_hostname }}</td>
    </tr>
    <tr>
        <th>Admin email address:</th>
        <td>{{ settings_admin_email }} </td>
    </tr>
    <tr>
        <th>Database DSN:</th>
        <td>{{ settings_database_dsn }}</td>
    </tr>
    <tr>
        <th>Password crypt method:</th>
        <td>{{ settings_pwcrypt }} </td>
    </tr>
    <tr>
        <th>Check homedir access:</th>
        <td>{{ settings_check_access }} </td>
    </tr>
    <tr>
        <th>Email user:</th>
        <td>{{ settings_notify_user }} </td>
    </tr>
    <tr>
        <th>Default uid:</th>
        <td> {{ settings_default_uid }} </td>
    </tr>
    <tr>
        <th>Default gid:</th>
        <td> {{ settings_default_gid }} </td>
    </tr>
</table>
